---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    title: "JustType AI Keyboard",
    description:
      "Developer en prácticas en una app de teclado inteligente para iOS de autocorrección, con traducción automática en +70 idiomas, y ChatGpt incorporado. Aporté en desarrollo con Swift en X-Code y en la estrategia de Marketing Digital al completo.",
    technologies: ["Swift", "Xcode", "iOS","Marketing Digital", "ChatGPT", "AI", "SEO", "ASO", "App Store", "API"],
    image: "/img/justtype.png",
    link: "https://apps.apple.com/us/app/justtype-ai-keyboard/id6590604907",
  },
  {
    title: "Recordatorios de Medicación",
    description:
      "App web para gestionar pacientes y sus tratamientos crónicos. Pensada para residencias y/o hospitales. Pensada y creada al completo por mí, desde el diseño UX/UI hasta el desarrollo backend y frontend.",
    technologies: [
      "Laravel",
      "Vite",
      "PHP",
      "MySQL",
      "Blade",
      "HTML",
      "CSS",
      "JavaScript",
      "Tailwind CSS",
    ],
    image: "/img/meditrack.png",
    link: "#",
  },
];
---

<Layout>
  <section class="py-20 px-4 md:px-0 max-w-6xl mx-auto">
    <div class="text-center mb-16">
      <h2
      class="text-4xl font-bold text-gray-900 dark:text-white relative inline-block after:block after:h-1 after:w-30 after:bg-purple-600 after:mx-auto after:mt-2"
      >
      Mis proyectos
      </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    {
      projects.map((project, i) => (
        <div class={`animate-fade-in delay-[${i * 150}ms]`}>
          <ProjectCard {...project} />
        </div>
      ))
    }
  </div>
</Layout>

<!-- Script JS externo -->
<script src="/js/main.js" defer></script>
